Debug
*~
.anjuta/
*.anjuta
.anjuta_sym_db.db
aclocal.m4
autom4te.cache/
compile
config.guess
config.h.in
config.sub
configure
depcomp
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
ltmain.sh
missing
Makefile.in
src/Makefile.in
test-driver
examples/Makefile.in
tests/Makefile.in
doc/Makefile.in
obj/
bin/
*.depend
*.layout
.objs
ing/

*/Debug
*/Optimized
*/*~
*/.anjuta/
*/*.anjuta
*/.anjuta_sym_db.db
*/aclocal.m4
*/autom4te.cache/
*/compile
*/config.guess
*/config.h.in
*/config.sub
*/configure
*/depcomp
*/install-sh
*/intltool-extract.in
*/intltool-merge.in
*/intltool-update.in
*/ltmain.sh
*/missing
*/Makefile.in
*/src/Makefile.in
*/test-driver
*/examples/Makefile.in
*/tests/Makefile.in
*/doc/Makefile.in

java/octetos-db/target
/java/muposys/target/
/java/octetos-db/nbproject/
/java/db/target/
/java/db/nbproject/
/java/muposys/nbproject/
C++/apidb/CMakeFiles/
C++/apidb/CMakeLists.txt
C++/apidb/build/
C++/apidb/cmake.modules/
C++/apidb/muposys.cpp
C++/apidb/muposys.hpp
*~
C++/apidb/CMakeLists.txt
C++/apidb/config.h.in
C++/gtk/.anjuta/
C++/gtk/.anjuta_sym_db.db
C++/gtk/muposys.anjuta
C++/gtk/Debug/
C++/gtk/Makefile.in
C++/gtk/aclocal.m4
C++/gtk/autom4te.cache/
C++/gtk/compile
C++/gtk/config.guess
C++/gtk/config.h.in
C++/gtk/config.sub
C++/gtk/configure
C++/gtk/depcomp
C++/gtk/install-sh
C++/gtk/intltool-extract.in
C++/gtk/intltool-merge.in
C++/gtk/intltool-update.in
C++/gtk/ltmain.sh
C++/gtk/missing
C++/gtk/po/Makefile.in.in
C++/gtk/src/Makefile.in
C++/apidb/muposysdb.apidb.bk
C++/gtk/libraries/
C++/cgi/.anjuta/
C++/cgi/.anjuta_sym_db.db
C++/cgi/Debug/
C++/cgi/Makefile.in
C++/cgi/aclocal.m4
C++/cgi/autogen.sh
C++/cgi/autom4te.cache/
C++/cgi/compile
C++/cgi/config.guess
C++/cgi/config.h.in
C++/cgi/config.sub
C++/cgi/configure
C++/cgi/depcomp
C++/cgi/include/
C++/cgi/install-sh
C++/cgi/lib/
C++/cgi/ltmain.sh
C++/cgi/missing
C++/cgi/src/Makefile.in
C++/cgi/src/db.sqbpro
C++/cgi/database-bk
C++/cgi/cgi.anjuta
java/syapp-db/nbproject/
gnome-icon-theme-*.tar.bz2
java/db/target/
C++/apidb/muposysdb.cpp
C++/apidb/muposysdb.hpp
C++/apidb/CMakeCache.txt
C++/apidb/Makefile
C++/apidb/cmake_install.cmake
C++/apidb/libmuposysdb.a
C++/cgi/src/config.h.in
C++/cgi/src/muposysdb.cpp
C++/cgi/src/muposysdb.hpp
java/muposys-db/target/
C++/console/.anjuta/
C++/console/.anjuta_sym_db.db
C++/console/Debug/
C++/console/Makefile.in
C++/console/aclocal.m4
C++/console/autom4te.cache/
C++/console/compile
C++/console/config.guess
C++/console/config.h.in
C++/console/config.sub
C++/console/configure
C++/console/depcomp
C++/console/install-sh
C++/console/ltmain.sh
C++/console/missing
C++/console/muposys.anjuta
C++/console/src/Makefile.in
*-old
*.anjuta
*.anjuta_sym_db.db
Debug/
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h.in
config.sub
configure
depcomp
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
ltmain.sh
missing
html/gnome-icon-theme-2.91.93
html/Mkos-Big-Sur/*
db/alpha/mariadb/old/*
html/Sevi-blue-dark

html/Sevi.tar.xz
html/Sevi-*.tar.xz

web/html/gnome-icon-theme-2.91.93
web/html/Mkos-Big-Sur/*
web/html/Sevi-blue-dark
web/html/Sevi.tar.xz
web/html/Sevi-*.tar.
web/html/Mkos-Big-Sur

core/.vs
core/muposys-core/.vs
*-old.*
core/src/muposysdb.*
desk/desk-installer

