java/octetos-db/target
/java/sysapp/target/
/java/octetos-db/nbproject/
/java/sysapp-db/target/
/java/sysapp-db/nbproject/
/java/sysapp/nbproject/
C++/apidb/CMakeLists.txt
C++/sysapp-apidb/build/
C++/sysapp-apidb/cmake.modules/
C++/sysapp-apidb/sysapp.cpp
C++/sysapp-apidb/sysapp.hpp
*~
C++/sysapp-apidb/CMakeLists.txt
C++/sysapp-apidb/config.h.in
C++/sysapp-gtk/.anjuta/
C++/sysapp-gtk/.anjuta_sym_db.db
C++/sysapp-gtk/Makefile.am
C++/sysapp-gtk/sysapp.anjuta
C++/sysapp-gtk/Debug/
C++/sysapp-gtk/Makefile.in
C++/sysapp-gtk/aclocal.m4
C++/sysapp-gtk/autom4te.cache/
C++/sysapp-gtk/compile
C++/sysapp-gtk/config.guess
C++/sysapp-gtk/config.h.in
C++/sysapp-gtk/config.sub
C++/sysapp-gtk/configure
C++/sysapp-gtk/depcomp
C++/sysapp-gtk/install-sh
C++/sysapp-gtk/intltool-extract.in
C++/sysapp-gtk/intltool-merge.in
C++/sysapp-gtk/intltool-update.in
C++/sysapp-gtk/ltmain.sh
C++/sysapp-gtk/missing
C++/sysapp-gtk/po/Makefile.in.in
C++/sysapp-gtk/src/Makefile.in
C++/sysapp-apidb/sysappdb.apidb.bk
C++/sysapp-gtk/libraries/
C++/sysapp-cgi/.anjuta/
C++/sysapp-cgi/.anjuta_sym_db.db
C++/sysapp-cgi/Debug/
C++/sysapp-cgi/Makefile.in
C++/sysapp-cgi/aclocal.m4
C++/sysapp-cgi/autogen.sh
C++/sysapp-cgi/autom4te.cache/
C++/sysapp-cgi/compile
C++/sysapp-cgi/config.guess
C++/sysapp-cgi/config.h.in
C++/sysapp-cgi/config.sub
C++/sysapp-cgi/configure
C++/sysapp-cgi/depcomp
C++/sysapp-cgi/include/
C++/sysapp-cgi/install-sh
C++/sysapp-cgi/lib/
C++/sysapp-cgi/ltmain.sh
C++/sysapp-cgi/missing
C++/sysapp-cgi/src/Makefile.in
C++/sysapp-cgi/src/db.sqbpro
C++/sysapp-cgi/sysapp-cgi.anjuta
java/syapp-db/nbproject/
java/syapp-db/target/
