:root
{
	--theme-background-color : #79869B;
	--theme-cancel-color : #E3943B;	
	--theme-funtion-color: #275AAD;	
}

body 
{
	font-family: Arial, Helvetica, sans-serif;
}


@media screen and (min-width: 300px) and (max-width : 599px)
{
	body > #menu > #panel
	{
		min-width: 25%;
	}
	body > #menu > #panel > #system
	{
		background-image: url(/theme/Mkos-Big-Sur/22x22/actions/run-build-configure.svg);
	}
	body > #menu > #panel > #user
	{
		background-image: url(/theme/Mkos-Big-Sur/22x22/actions/user-properties.svg);
	}
	body > #menu > #panel > #logout
	{
		background-image: url(/theme/Mkos-Big-Sur/22x22/actions/application-exit.svg);
	}
}

@media screen and (min-width: 600px) and (max-width : 899px)
{
	body > #menu > #panel > #system
	{
		background-image: url(/theme/Mkos-Big-Sur/24x24/actions/run-build-configure.svg);
	}
	body > #menu > #panel > #user
	{
		background-image: url(/theme/Mkos-Big-Sur/24x24/actions/user-properties.svg);
	}
	body > #menu > #panel > #logout
	{
		background-image: url(/theme/Mkos-Big-Sur/24x24/actions/application-exit.svg);
	}
}

@media screen and (min-width: 900px) and (max-width : 1199px)
{
	body > #menu > #panel > #system
	{
		background-image: url(/theme/Mkos-Big-Sur/64x64/actions/run-build-configure.svg);
	}
	body > #menu > #panel > #user
	{
		background-image: url(/theme/Mkos-Big-Sur/64x64/actions/user-properties.svg);
	}
	body > #menu > #panel > #logout
	{
		background-image: url(/theme/Mkos-Big-Sur/64x64/actions/application-exit.svg);
	}
}

@media screen and (min-width: 1200px)
{
	body > #menu > #panel > #system
	{
		background-image: url(/theme/Mkos-Big-Sur/128x128/actions/run-build-configure.svg);
	}
	body > #menu > #panel > #user 
	{
		background-image: url(/theme/Mkos-Big-Sur/128x128/actions/user-properties.svg);
	}
	body > #menu > #panel > #logout
	{
		background-image: url(/theme/Mkos-Big-Sur/128x128/actions/application-exit.svg);
	}
}